.success-alert{
  float: left;
  display: flex;
  flex-flow: nowrap row;
  width: 300px;
  height: 35px;
  margin-top: 20px;
  padding: 0 15px;
  background-color: lightyellow;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.success-alert > .message {
  color: darkgoldenrod;
  line-height: 30px;

}

.success-alert > span {
  color: darkgoldenrod;
  margin-left: auto;
  line-height: 30px;
}
