<form [formGroup]="recipeForm" class="recipe-form" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <div class="row">
    <div class="col-12">
      <input formControlName="name"
             [ngClass]="(name.invalid && name.touched) ? 'recipe-form-error': ''"
             class="recipe-title form-control"
             id="name"
             type="text"
             title="Recipe Name">
      <app-control-messages [control]="this.name"></app-control-messages>
    </div>
  </div>
  <!-- Description -->
  <div class="row mt-3">
    <div class="col-12">
      <h5>Description</h5>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea formControlName="description"
                class="form-control"
                title="Recipe Description"
                placeholder="This is an ancient recipe from the old Vikings...">
      </textarea>
      <app-control-messages [control]="this.description"></app-control-messages>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-lg-4">
      <img
        class="float-image float-right img-thumbnail"
        [src]="imgPlaceholder ? this.FOOD_PLACEHOLDER : imgPath.value"
        alt="Recipe Image"
      >
    </div>
    <div class="col-12 col-lg-8 mt-2">
      <div class="form-group">
        <label for="imagePath">Image Path</label>
        <input formControlName="imagePath"
               class="form-control"
               id="imagePath"
               type="text"
               title="Image Path"
               placeholder="https://pt.wikipedia.org/wiki/Ficheiro:Arca_zebra_as_food.jpg">
      </div>
    </div>
  </div>

  <!-- Ingredients -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h5 style="display: inline-block">Ingredients</h5>
        <button class="btn btn-primary" (click)="onAddIngredient()" type="button">Add</button>
      </div>
      <hr />
    </div>
    <div class="col-12">
      <ul class="p-0" formArrayName="ingredients">
        <li *ngFor="let ingredient of ingredientsControls; let i = index"
            [formGroupName]="i.toString()"
            class="recipe-ingredients my-2"
        >
            <input formControlName="ingName"
                   [ngClass]="
                   (ingredientsControls[i].get('ingName').invalid && ingredientsControls[i].get('ingName').touched)
                   ? 'recipe-form-error' : ''"
                   class="recipe-ingredients-name form-control"
                   type="text"
                   title="Ingredient Name"
            >
            <span class="text-center mx-1">&times;</span>
            <input formControlName="ingAmount"
                   [ngClass]="
                   (ingredientsControls[i].get('ingAmount').invalid && ingredientsControls[i].get('ingAmount').touched)
                   ? 'recipe-form-error' : ''"
                   class="recipe-ingredients-amount text-center form-control"
                   type="number"
                   min="1"
                   title="Ingredient Amount"
            >
            <button class="btn btn-danger recipe-ingredients-remove ml-2"
                    type="button"
                    title="Delete Ingredient"
            > &times; </button>
        </li>
        <app-control-messages [control]="this.ingredients"></app-control-messages>
      </ul>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <div>
      <button class="btn btn-warning" type="button">Cancel</button>
    </div>
    <div class="app-tooltip">
      <button class="btn btn-success ml-2" type="submit">Save</button>
      <span class="app-tooltip-text">You must fill all the required fields.</span>
    </div>
  </div>
</form>
