<div class="row">
  <div class="col-12">
    <h4 class="text-center"> Recipe Title </h4>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <h5>Description: </h5>
    <hr />
    <img
      class="float-right float-image"
      src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/crab-asparagus-pappardelle.jpg"
      height="125"
      alt=""
    >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, recusandae!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis delectus expedita facere inventore officiis omnis porro praesentium sapiente similique voluptas! Architecto autem dignissimos eos harum nisi! Aliquid commodi magnam voluptas!</p>
  </div>
</div>
<div class="row mt-1">
  <div class="col-12">
    <h5>Ingredients</h5>
    <hr />
  </div>
  <div class="col-12">
    <ul class="two-columns">
      <li>Eggs</li>
      <li>Bacon</li>
      <li>Brocolis</li>
      <li>Bananas</li>
      <li>Bacon</li>
      <li>Brocolis</li>
      <li>Bananas</li>
    </ul>
  </div>
</div>
