<div class="row justify-content-between">
  <div class="col-7">
    <h4> {{currentRecipe.name}} </h4>
  </div>
  <div class="col-5">
    <div class="dropdown" appDropdown [dropdownMenu]="dropdownMenu">
      <button type="button" class="btn btn-block btn-secondary dropdown-toggle" data-toggle="dropdown">
        Recipe Options
      </button>
      <div class="dropdown-menu" #dropdownMenu>
        <a class="dropdown-item" href="#">Send to Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <h5>Description: </h5>
    <hr />
    <img
      class="float-right float-image"
      [src]="currentRecipe.imagePath"
      height="125"
      alt=""
    >
    <p> {{currentRecipe.description}} </p>
  </div>

</div>

<div class="row mt-1">
  <div class="col-12">
    <h5>Ingredients</h5>
    <hr />
  </div>
  <div class="col-12">
    <ul class="two-columns">
      <li>Eggs</li>
      <li>Bacon</li>
      <li>Brocolis</li>
      <li>Bananas</li>
      <li>Bacon</li>
      <li>Brocolis</li>
      <li>Bananas</li>
    </ul>
  </div>
</div>

<!-- Here we just added a custom Directive that would flip its value and add and remove a classe, we also needed to
pass an element through reference due to bootstrap
-->
