<div class="row">
  <div class="col-12">
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="server-name" placeholder="Server Name" [(ngModel)]="serverName">
      <div class="input-group-append">
        <button class="btn btn-outline-primary btn-block"
                [disabled]="!allowServers"
                (click)="onCreateServer()">Add Server</button>
      </div>
    </div>
  </div>

    <!--  <div class="col-12 mt-3"><p class="lead">{{ serverCreationStatus }}</p></div> <-- This now will be taken care by the Structural directive "ngIf" -->

  <div class="col-12 mt-3" *ngIf="serverCreated; else falseServer"><p class="lead">{{ serverCreationStatus }}</p></div>

  <!-- Else output -->
  <ng-template #falseServer>
    <div class="col-12 mt-3"><p class="lead">There's no server created yet...</p></div>
  </ng-template>

  <div class="col-12 mb-5">
    <ul>
      <app-server *ngFor="let server of servers"></app-server>
    </ul>
  </div>
</div>

<!--
  To loop through servers we can use "ngFor", it will define a temporary variable inside the loop
  Unfortunately this wont change anything in the AppServer component, just print it the servers array length times
-->
