.post{
  position: relative;
  min-height: 100px;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px 15px;
  margin-top: 10px;

  .trash{
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 15px;
  }
}

.posts-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.skeleton-loading{
  background-repeat: no-repeat;
  background-size:
    // Animation
    50% 200px,
    // Elements
    200px 25px,
    80% 40px,
    25px 25px,
    100% 100%;
  background-position:
    // Animation
    -150% 0,
    // Elements
    5px 10px,
    5px 63px,
    99% 10px,
    0 0;
  background-image:
    // Animation
    linear-gradient(
        90deg,
        rgba(lightgrey, 0) 0,
        rgba(lightgrey, .8) 50%,
        rgba(lightgrey, 0) 100%
    ),
    // Elements
    linear-gradient(white 40px, transparent 0),
    linear-gradient(white 40px, transparent 0),
    radial-gradient(circle 10px, white 100%, transparent 0),
    linear-gradient(lightgray 100%, transparent 0);

  animation: loading 1.5s infinite;
}

.error{
  border: 1px solid tomato;
  border-radius: 4px;
  background-color: #ffede3;
  color: #b0422e;
  padding: 5px 10px;
}

@keyframes loading {
  to {
    background-position:
      350% 0,
      5px 10px,
      5px 63px,
      99% 10px,
      0 0;
  }
}
