.error{
  color: tomato;
  border-color: tomato;
}

.error-message{
  padding: 10px;
  background-color: #ffeaec;
  border-radius: 5px;
  border: 1px solid;
}
.success{
  color: #4F8A10;
  border-color: #4F8A10;
  background-color: transparent;
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
