<p>User with ID {{this.user.id}} loaded.</p>
<p>User name is {{this.user.name}}</p>
<hr>
<a [routerLink]="['/users', 10, 'Roninho']">Load Roninho (10)</a>

<!--
  Breaking the app, currently, if we try to access another user by clicking in the link above, it will not load it!
  That happens because we're already on this component, therefore Angular do not re render it.
  It's fine to use the "snapshot" for the first initialization, but to be able to react to different subsequent events
  we need to use another approach.
    - For first initializing a Component we can use the "route.snapshot.params", but it only loads once
    - For subsequent changes on URL we can use the route.params

  "route.params" is an observable, which is an way to deal to asynchornous calls, it's an way to subscribe to some
  event which might happen in the future, to then execute something when it happens
-->
